<template>
    <div class="learning-side-nav">
        <button class="btn btn-danger float-right" @click="hideSideNav"><i class="fas fa-times"></i></button>
        <div class="learning-section-field">
            <div class="learning-section-list" v-for="section in sections" :key="section.id">
                <a class="learning-section-title" data-toggle="collapse" :href="'#learningSection'+section.id" :aria-controls="'learningSection'+section.id" @click="changeCaret">
                    <i :id="'sectionTitle'+section.title" class="fas" :class="{'fa-caret-right': !isCollapsed, 'fa-caret-down': isCollapsed}"></i> {{section.section_title}}
                </a>
                <div class="collapse learning-lesson-list"  :id="'learningSection'+section.id">
                    <div v-for="lesson in section.lessons" :key="lesson.id">
                        <a :href="'/learning-page/'+course_id+'/lesson/'+lesson.id"><i class="far fa-play-circle"></i> {{lesson.lesson_title}}</a>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:['sections', 'course_id'],
    data(){
        return{
            isCollapsed: false,
        }
    },
    mounted(){
        console.log(this.sections);        
    },
    methods:{
        hideSideNav: function(){
            $(".learning-side-nav").css('width', "0")
            $(".video-js").css('width', "100vw")
        },
        changeCaret: function(){
            this.isCollapsed = !this.isCollapsed
        }
    }
}
</script>

