<template>
    <div id="learningTop">
        <!-- <p v-for="link_video in link_videos">{{link_video.name}}</p> -->
        <h2 @click="showSideNav"><i class="fas fa-folder"></i>  {{lesson.lesson_title}}</h2>
    </div>
</template>
<script>
export default {
    props:['lesson'],
    mounted(){
        console.log(this.lesson);
        
    },
    methods:{
        showSideNav: function(){
            $(".learning-side-nav").css('width', "30vw")
            $(".video-js").css('width', "70vw")
            $(".video-js").css('float', "right")
        }
    }
    
}
</script>


