<template>
    <div class="learning-discussion">
        <div class="learning-discussion-panel">
            <div class="learning-discussion-base-title">
                <p>Questions</p>
                <button></button>
                <button></button>
            </div>
            <div class="learning-discussion-search">

            </div>
            <div class="learning-discussion-question-field">

            </div>
        </div>
    </div>
</template>
