* {
    margin: 0;
}
html, body {
    height: 100%;
}

.learning-top {
    color:white;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    z-index: 1;
}
#learningTop{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 10px;
    font-style: italic;
}
#learningTop h2{
    color: #fff;
}
.learning-video{
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    position: absolute;
}

.learning-bottom{
    z-index: 2;
    padding: 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 99.65%;
    height: 50px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
}
.learning-side-nav{
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 9999 !important;
}
.learning-discussion{
    height: 100vh;
    width: 0vw;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999 !important;
}
.learning-discussion-panel{
    background-color: #f2f3f6;
    height: 100vh;
    padding: 20px 10px 0;
    z-index: 1000 !important;
}
.learning-side-nav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.learning-section-field{
    margin-top: 40px;
}
.learning-section-list p{
    color: #000;
}
.learning-lesson-list{
    margin-left: 15px;
}
/* .btn.btn-danger.btn-close-learning-side-bar{
    float: right;
} */


.video-js .vjs-big-play-button{
    top: 45% !important;
    left: 45% !important;
}
.learning-bottom-middle{
    text-align: center;
}
.learning-bottom-right{
    text-align: right;
}
.vjs-courdemy-skin{
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
}
.vjs-control-bar{
    z-index: 2;
}
.vjs-title-bar{
    position: absolute;
    z-index: 2 !important;
    top: 15px;
    left: 15px;
    font-size: 30px;
}
.vjs-control-bar{
    height: 6em !important;
    background: linear-gradient(to top, rgba(20,23,28,0.9) 0, rgba(20,23,28,0.738) 19%, rgba(20,23,28,0.541) 34%, rgba(20,23,28,0.382) 47%, rgba(20,23,28,0.278) 56.5%, rgba(20,23,28,0.194) 65%, rgba(20,23,28,0.126) 73%, rgba(20,23,28,0.075) 80.2%, rgba(20,23,28,0.042) 86.1%, rgba(20,23,28,0.021) 91%, rgba(20,23,28,0.008) 95.2%, rgba(20,23,28,0.002) 98.2%, rgba(20,23,28,0) 100%) !important;
}
.vjs-control{
    height: 3em !important;
    top: 2.5em;
    outline: none !important;
}
.vjs-volume-panel{
    top: 0;
}
.vjs-progress-control{
    position: absolute !important;
    top: 0;
    width: 100% !important;
}
.vjs-custom-btn-group{
    display: inline-flex;
    width: auto;
    margin-right: 4em !important;
}
.vjs-custom-btn{
    width: fit-content;
}
.vjs-custom-btn>a{
    height: 2em !important;
    background: none;
    border: none;
    padding-bottom: 7px;
    color: white;
}
.vjs-custom-btn>a:hover{
    background: none;
    border: none;
    outline: none;
    text-shadow: 0em 0em 1em white;
    color: white;

}
.vjs-custom-btn>a:focus{
    box-shadow: none;
}

.vjs-control-bar:after{
    display: table;
    clear: both;
}
.vjs-next-btn, .vjs-previous-btn{
    height: 2em !important;
    position: relative;
    top: 2.5em !important;
}

.vjs-title-bar{
    cursor: pointer;
}