<template>
  <div>
	  <video id="videoPlayer" class="video-js vjs-courdemy-skin" data-setup='{}'>
			<source
     	:src="lesson.url"
     	type="application/x-mpegURL">
		</video>
		<!-- <div id="playerElement" style="width:100%; height:0; padding:0 0 56.25% 0"></div> -->
		<!-- <iframe src="https://player.vimeo.com/video/331517259" width="640" height="1138" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->

  </div>
</template>

<script>
import videojs from 'video.js'
  export default {
	props:{
		lesson: Object,
		sections: Array,
	},
    data() {
      return {
      }
    },
    mounted() {
		this.playerInitialize()
		this.createTitleBar()
		this.createCustomBtnGroup()
		this.createDiscussButton()		
		this.createPreviousButton()
		this.createNextButton()
		
		
		this.showSideNavOnTitleBarClick()
		this.showDiscussion()
		console.log(this.player);
		
	},
    computed: {
      	player() {
		  	return videojs('videoPlayer')
	  	},
	  	videoOptions(){
		  	return {
			  	controls: true,
			  	autoplay: true,
					preload: 'auto',
					playbackRates: [0.5, 1, 1.5, 2]
		  	}
	  	},
	  	lessonIdArray(){
		  	var lessonIdArray = []
		  	this.sections.forEach(section => {
			  	section.lessons.forEach(lesson => {
				  	lessonIdArray.push(lesson.id)
			  	});
		  	});
		  	return lessonIdArray
	  	},
	  	nextLessonId(){
		  	var currentLessonId = this.lesson.id
		  	var currentIndex = this.lessonIdArray.indexOf(currentLessonId)
		  	return this.lessonIdArray[currentIndex+1]
	  	},
	  	previousLessonId(){
			var currentLessonId = this.lesson.id
		  	var currentIndex = this.lessonIdArray.indexOf(currentLessonId)
		  	return this.lessonIdArray[currentIndex-1]
	  	},
	  	currentUrlWithoutLessonId(){
		  	var currentUrl = window.location.href
		  	return currentUrl
	  	}
    },
    methods: {
		playerInitialize(){
			videojs('videoPlayer', this.videoOptions)
		},
		/**
		* CREATE a html element for the player
 		* @param {elName} componentName string
 		* @param {elTag} componentTag string
 		* @param {elClass} componentClass string
 		*/
		createHtmlEl(elName, elTag, elClass){
			var Component = videojs.getComponent('Component')
			var NewEl = videojs.extend(Component, {
				createEl: function(){
					return videojs.dom.createEl(elTag, {
						className: elClass,
					})
				}
			})
			videojs.registerComponent(elName, NewEl)
		},
		createTitleBar(){
			this.createHtmlEl('TitleBar', 'div', 'vjs-title-bar')
			this.player.addChild('TitleBar');
			$(".vjs-title-bar").append('<span><i class="fa fa-list-ol" aria-hidden="true"></i></span><span>'+this.lesson.lesson_title+'</span>')
		},
		createCustomBtnGroup(){
			this.createHtmlEl('CustomBtnGroup', 'div', 'vjs-control vjs-custom-btn-group')
			this.player.controlBar.addChild('CustomBtnGroup')
		},
		createNextButton(){
			this.createHtmlEl('NextBtn', 'div', 'vjs-custom-btn vjs-next-btn')
			this.player.controlBar.addChild('NextBtn')
			$(".vjs-next-btn").append(
				'<a href="'+this.nextLessonId+'" class="btn">'+'Next'+'</a>'
			)

		},
		createPreviousButton(){
			this.createHtmlEl('PreviousBtn', 'div', 'vjs-custom-btn vjs-previous-btn')
			this.player.controlBar.addChild('PreviousBtn')
			$(".vjs-previous-btn").append(
				'<a href="'+this.previousLessonId+'" class="btn">'+'Previous'+'</a>'
			)
		},
		createDiscussButton(){
			this.createHtmlEl('DiscussBtn', 'div', 'vjs-custom-btn vjs-discuss-btn')	
			this.player.controlBar.getChild('CustomBtnGroup').addChild('DiscussBtn')
			$(".vjs-discuss-btn").append(
				'<a id="btnDiscuss" @click="alert(1)" class="btn">'+'Discuss'+'</a>'
			)
		},
		showSideNavOnTitleBarClick(){
			$(".vjs-title-bar").click(function(){
				$(".learning-side-nav").css('width', "30vw")
            	$(".video-js").css('width', "70vw")
            	$(".video-js").css('float', "right")
			})
			
		},
		showDiscussion(){
			$("#btnDiscuss").click(function(){
				$(".learning-discussion-panel").css('width', "30vw")
            	$(".video-js").css('width', "70vw")
            	$(".video-js").css('float', "left")
			})
		}

    }
  }
</script>