<template>
    <div class="modal-content">
        <div class="modal-header">
            <h4>Ghi Chép</h4>
        </div>
        <div class="modal-body">
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary"><span>Lưu</span></button>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
