<template>
    <div class="row">
        <div class="learning-bottom-left col-lg-3">
            <button class="btn btn-primary">Bai Truoc</button>
            <button class="btn btn-primary">Bai Sau</button>
        </div>
        <div class="learning-bottom-middle col-lg-6">
            <button class="btn btn-primary" data-toggle="modal" data-target="#noteModal">Ghi Chep <i class="fas fa-edit"></i></button>
            <button class="btn btn-primary">Thao Luan <i class="fas fa-question-circle"></i></button>
            <button class="btn btn-primary">Tai Lieu <i class="fas fa-file-alt"></i></button>
        </div>
        <div class="learning-bottom-right col-lg-3">
            <button class="btn btn-primary">Autoplay <i class="fas fa-toggle-on"></i></button>
            <button class="btn btn-primary">Bao loi <i class="fas fa-exclamation-circle"></i></button>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
